/* COLORES
 * Azul fondo RGBA
 * rgba(45,60,75,1.0);
 *
 * código:
 * #2d3c4bff
 *
 */

html {
	margin: 0px;
	padding: 0px;
	}
body {
	margin: 0px auto;
	padding: 0px;
	}

/* --- COLORS AND BACKGROUNDS ------------------------------ */
html {
	/*background: url("../img/index_background.png"); */
	background-color: white;
	background-attachment: fixed;
}

body {
	color: #909090;
}

.barra_de_navegacion {
	background: none repeat scroll 0% 0%;
	background-color: #000000;
}

.catalogo_imagen {
	background-color: rgba(128, 153, 149, 0.4);
}

.marco_imagen {
	/*opacity: 0.07;*/
	opacity: 0.35;
}

.main .important {
	color: #555555;
}

.idioma0 a:link,
.idioma0 a:visited,
.barra_de_navegacion a:link,				/* link sin visitar */
.barra_de_navegacion a:visited{			/* link visitado */
	color: #999999;
}

.marco_imagen,
.idioma0 a:hover,
.barra_de_navegacion a:hover,				/* ratón sobre link */
.barra_de_navegacion a:active {			/* selected link */
	color: white;
}

.contact_form {
	background-color: black;
}

.contact_block .phone {
	fill: rgb(113, 113, 113);
	stroke: none;
}

.contact_block .location path,
.contact_block circle{
	fill: none;
	stroke: rgb(113, 113, 113);
}


/* --- MAIN ------------------------------------------------ */
.main {
	max-width: 700px;
}
.main h1 {
	text-align: center;
	font-family: 'Open Sans', sans;
	font-size: 40px;
	font-weight: 400;
	margin: 0px;
	padding: 100px 0px 25px 0px;
	}
.main p {
  text-align: center;
	line-height: 1.6;
	font-family: 'Open Sans', sans;
	font-weight: 200;
	font-size: 16px;
	margin: 0px;
	padding: 5px 0px 15px 0px;
}

.contact_main {
	margin: 40px 0px 120px 0px;
	min-height: 400px;
	text-align: center;
}
.contact_map {
	display: inline-block;
	width: 49.9%;
	min-width: 450px;
}
.contact_form {
	display: inline-block;
	text-align: left;
	width: 49.8%;
	min-width: 450px;
	height: 400px;
}

form {
	height: 400px;
	padding: 0px 30px;
}

.contacto_etiqueta {
	font-size: 16px;
	font-family: 'Open Sans', sans;  	/* esto deberías pasarlo a contact_form */
	font-weight: 200;									/* esto deberías pasarlo a contact_form */
}

.ENVIAR {
	width: 100%;
}



.main .important {
	font-size: 22px;
}

.main .left{
	text-align: left;
}


.main,
.catalogo_main {
	margin: 20px auto;
	padding: 0px 20px;
	text-align: center;		/* Esto mantiene el sub1 centrado */
	line-height: 1.6;
	font-family: 'Open Sans', sans;
	font-weight: 200;
	font-size: 16px;
}

.catalogo_sub1 {
	display: inline-block;
}

.catalogo_sub2 {
	display: inline-block;
}

.catalogo_bloque {
	display: inline-block;
	width: 150px;
	/*height: 130px;*/
}

.catalogo_imagen {
	width: 140px;
	height: 200px;
	border-radius: 20px;
}

.marco_imagen {
	position: relative;
	font-family: 'Open Sans', sans;
	font-weight: 800;
	font-size: 114px;
	left: 0px;
	top: 0px;
	width: 140px;
	height: 200px;
	z-index: 9999;
	border-radius: 20px;
}
/*  ACTIVALO CUANDO METAS LAS IMÁGENES
.marco_imagen:hover {
	position: relative;
	top: -2px;
	left: -2px;
	width: 144px;
	height: 204px;
	z-index: 9999;
}  */


/* --- CONTACT --------------------------------------------- */
.contact_block {
	display: inline-table;
	width: 250px;
	margin-top: 10px;
	margin-bottom: 25px;
	padding-top: auto;
	padding-bottom: auto;
}

.contact_block svg,
.contact_block img {
	/*width: 55px;*/
	width: 55px;
	margin-bottom: 10px;
}




/* --- BARRA DE NAVEGACIÓN --------------------------------- */

.barra_de_navegacion {
  font-family: "Open Sans",Arial,sans;
	font-size: 1.065em; /* 17px */
	font-weight: 200;
  letter-spacing: 3px;
  padding: 0px 7px;
  line-height: 52px;
  /*background: none repeat scroll 0% 0% #000;*/
  opacity: 0.8;
  z-index: 99989;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 1px 0px 2px #000;
	text-align: center;
}
.barra_de_navegacion_izq,
.barra_de_navegacion_cen,
.barra_de_navegacion_der {
	margin: 0px;
	padding: 0px;
}
.barra_de_navegacion_izq {
	float:left;
	text-align: left;
}
.barra_de_navegacion_der {
	float: right;
	text-align: right;
	width: 385px;
}
.barra_de_navegacion_cen {
	position: absolute;
	top: 0px;
	margin-left: 44%;
	margin-right: 44%;
	width: 12%;
}
.barra_de_navegacion a {
	padding: 0px 15px;
}
.barra_de_navegacion_cen a {
	padding: 0px;
}

.barra_de_navegacion a:link,				/* link sin visitar */
.barra_de_navegacion a:visited,			/* link visitado */
.barra_de_navegacion a:hover,				/* ratón sobre link */
.barra_de_navegacion a:active {			/* selected link */
	text-decoration:none;
}




/* --- IDIOMA ---------------------------------------------- */

.idioma0 {
	text-align: center;
	color: #999999;
	margin: 0px auto;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 9999;
	}

.idioma0 a:link,
.idioma0 a:visited,
.idioma0 a:hover,
.idioma0 a:active {
	text-decoration:none;
	}

.idioma1 {
	background: url("../img/lang_background.svg");
	font-family: "Open Sans", sans;
	font-size: 15px;
	font-weight: 600;
	margin: 0px auto;
	padding: 0px;
	width: 200px;
	height: 70px;
	position: relative;
	top: 50px;
	left: 0px;
	opacity: 0.8;
	transition: 0.5s;
	}
.idioma1:hover {
	top: 20px;
	opacity: 1;
	transition: 0.2s;
	}
.idioma1 h1 {
	width: 100px;
	font-family: "Open Sans", sans;
	font-size: 10px;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 3px;
	left: 50px;
	opacity: 1;
	}
.idioma2 {
	text-align: center;
	width: 200px;
	height: 29px;
	font-family: "Open Sans", sans;
	font-size: 20px;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 18px;
	left: 0px;
	opacity: 1;
	}
.idioma2 h2,
.idioma2 h3 {
	width: 40%;
	height: 100%;
	font-family: "Open Sans", sans;
	font-size: 20px;
	font-weight: 600;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	}
.idioma2 h2 {
	text-align: right;
	right: 55%;
	}
.idioma2 h3 {
	text-align: left;
	left: 55%;
	}
