/* --- COLORS AND BACKGROUNDS ----------------------*/

.logo line{
	stroke: #555555;
}
.logo svg {
	fill: #555555;
}

.vertical1 .texto_fijo,
.vertical2 .texto_fijo,
.vertical3 .texto_fijo {
	color: #444444;
	/*color: #2d3c4b;*/
}

.vertical1 .caja_girada:hover .texto_fijo,
.vertical2 .caja_girada:hover .texto_fijo,
.vertical3 .caja_girada:hover .texto_fijo {
	/*color: rgba(0,0,0,1);*/
	color: #222222;
}


.menu_subbox_1 {
	background-color: rgba(150,150,150,0.8);
}

.menu_subbox_2 {
	background-color: rgba(206,206,206,0.8);
}

.menu_subbox_3 {
	background-color: rgba(250,250,250,0.8);
}


.idioma0,
.idioma0 a:link,
.idioma0 a:visited,
.barra_de_navegacion a:link,				/* link sin visitar */
.barra_de_navegacion a:visited{			/* link visitado */
	color: #999999;
}

.idioma0 a:hover,
.barra_de_navegacion a:hover,				/* ratón sobre link */
.barra_de_navegacion a:active {			/* selected link */
	color: #555555;
}

html {
	/*background: url("../img/index_background.png");*/
	/*background-attachment: fixed;*/
}





/* --- STRUCTURE ----------------- */


html {
	margin: 0px;
	padding: 0px;
	background-color: rgb(230, 230, 230);
}
body {
	text-align: center;
	color: white;
	width: 600px;
	margin: 0px auto;
	padding: 0px;
	position: relative;
}

.percha {
	max-width: 1550px;
	width: 100%;
	min-width: 600px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: -1;
}

.menu_box {
	position: fixed;
	top: 357px;
	width: 600px;
	height: 350px;
	margin: 0px auto;
	z-index: 0;
}
.menu_subbox {
	position: fixed;
	top: 707px;
	bottom: 0px;
	margin: 0px;
	width: 600px;
}

.vertical1 {
	background: url("../img/index_menu1.svg") no-repeat;
	width: 265px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	}
.vertical2 {
	background: url("../img/index_menu2.svg") no-repeat;
	width: 200px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	left: 212px;
	}
.vertical3 {
	background: url("../img/index_menu3.svg") no-repeat;
	width: 265px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	}
.caja_girada {
  text-align: right;
  font-family: "Open Sans", sans;
	font-size: 25px;
	font-weight: 400;
  height: 50px;
  opacity: 1;
  -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
  transform: rotate (-90deg);
  position: absolute;
	z-index: 9999;
  }
.caja_girada a {
	text-decoration:none;
  }
.vertical1 .caja_girada {
  width: 160px;
	top: 104px;
  right: -59px;
  }
.vertical2 .caja_girada {
  width: 199px;
	top: 104px;
  right: 9px;
  }
.vertical3 .caja_girada {
  width: 186px;
	top: 107px;
  right: 142px;
  }
.vertical1 .texto_oculto,
.vertical2 .texto_oculto,
.vertical3 .texto_oculto {
  opacity: 0;
  transition: all 0.25s ease-in-out 0s;
}

.menu_subbox_0,
.menu_subbox_1,
.menu_subbox_2,
.menu_subbox_3 {
	float: left;
	height: 100%;
}

.menu_subbox_0 {
	width: 37px;
}
.menu_subbox_1 {
	width: 176px;
}

.menu_subbox_2,
.menu_subbox_3 {
	width: 175px;
}

.logo svg {
	margin: 100px auto;
	/*width:600;*/  /* puedes controlar el tamaño del logo con este parámetro */
	opacity: 0.95;
}

.logo line{
	stroke-width: 1.7;
	stroke-linejoin: round;
	y1: 79.189925;
	y2: 79.189925;
}

/* --- IDIOMA ---------------------------------------------- */

.idioma0 {
	margin: 0px auto;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 9999;
	}
.idioma1 {
	font-family: "Open Sans", sans;
	font-size: 15px;
	font-weight: 600;
	margin: 0px auto;
	line-height: 10px;
	width: 200px;
	height: 70px;
	}
.idioma1 h1 {
	font-family: "Open Sans", sans;
	font-size: 13px;
	font-weight: 600;
	margin: 0px auto;
	}
.idioma1 h2 {
	font-family: "Open Sans", sans;
	font-size: 20px;
	font-weight: 600;
	margin: 10px auto;
	padding: 0px;
	}


/* --- LINKS ----------------------------------------------- */
.idioma0 a:link,
.idioma0 a:visited,
.idioma0 a:hover,
.idioma0 a:active {
	text-decoration:none;
}
